.frog{
    display: inline-block;
    background-color: blue;
    width: 25%;
    height: 10vw;
    border-radius: 15%;
    margin-top: 1%;
    text-align: center;
    border: 2px solid;
    border-color: black;
}
.frog::after,.frog::before{
    content: "0";
    width: 20%;
    height: 50%;
    background-color: red;
    border-radius: 100%;
    position: relative;
    top: -30%;
}
.frog::before{
    float: right;
}
.frog::after{
    float: left;
}
.small{
    transform: scale(0.7);
    line-height: 15vw;
}
.small::after,.small::before{
    line-height: 5vw;
}